* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('snakebg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

#snakeGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%; 
    max-width: 600px; 
}

#snakeGameCanvas {
    /* border: 2px solid black; */
    /* background-color: #fff; */
    width: 100%; 
    height: auto;
}

#snakeScore {
    font-size: 1.5em; 
    font-weight: bold;
}
